# Godot 4+ specific ignores
.godot/

/bind.sh
/unbind.sh
/TestClass.gd
/graph_layout.tres
/symbols.soot

/addons/sooty_engine/
/addons/rich_text/
/addons/util/
/addons/tool_button/

/fonts/
/scenes/
/dialogue/
/states
/persistent/
/debug_output/
